<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Public Transport RESTful Web Service!</h1>
                <br />
                <h2>The API root URL is located at: <a href="~/api/v1/" title="API root URL">~/api/v1/</a></h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>The following are the collections on which you can try out the usual HTTP RESTful requests (GET, POST, PUT, DELETE):</h3>
        <ul>
            <li>
                <h5>Companies</h5>
                Sample GET request: <a href="~/api/v1/companies" title="Companies URL">~/api/v1/companies</a>
            </li>

            <li>
                <h5>Routes</h5>
                Sample GET request: <a href="~/api/v1/routes" title="Routes URL">~/api/v1/routes</a>
            </li>

            <li>
                <h5>Stops</h5>
                Sample GET request: <a href="~/api/v1/stops" title="Stops URL">~/api/v1/stops</a>
            </li>

            <li>
                <h5>Vehicles</h5>
                Sample GET request: <a href="~/api/v1/vehicles" title="Vehicles URL">~/api/v1/vehicles</a>
            </li>
            <br />
            <a href="~/help" title="Docs URL">See the full documentation here.</a>
        </ul>
    </section>
</div>
